.weather{
  background: #FFF;
}

.city{
  font-size: calc(var(--index) * 3);
}

.temp{
  font-size: calc(var(--index) * 2);
  display: flex;
  align-items: center;
}

.desc{
  font-size: calc(var(--index) * 1.5);
}

.block{
  display: flex;
  justify-content: space-around;
  align-items: center;
}